.App {
  text-align: center;
  justify-content: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
background: linear-gradient(#340856, #efb810, #340856, #efb810);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
  font-size: 60px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#Tituloprincipal {

  background-color: #efb810;
  font-size:35px;
  text-align:unset;
  align-items:baseline;
  padding: auto;
  color: #340856;
  font-family: Franklin Gothic Medium;
  

}



#valoracion {

    display: inline-block;
    padding: auto;
    align-items:flex-end;
  

}

label {

  font-size: 20px;
}

#pie{

  font-size: 20px;
  background-color: #340856;
  color: violet;
  
}

#productod {
 
  width: auto;
  height: 400px ;
}

#agregar{

 border-bottom: 5px;
 border-radius: 50px;
 padding-bottom: 30px 25px;
 font-size: 25px;
 display: inline;
}

#cancelar {

  border-bottom: 5px;
  border-radius: 50px;
  padding-bottom: 30px 25px;
  font-size: 25px;
  display: inline;
}

#informacion {

  font-size: 25px;
  color: gold;
  font-stretch: expanded;
  font-weight: bold;
  display: inline;
  justify-content: flex-start;


}

  

#enlace{

  font-size: 25px;
  color: #efb810;
  margin-bottom: 5%;
  float:inline-start;
  display: block;

  
}

.btn {
  background-color: goldenrod;
  color: #340856;
  box-shadow: 25px 20ox;
  font-size: 25px;
  border-radius: 60px;
  
}


#car {

  position: absolute;
  top: 29px;
  left: 20px;
 
}

#detalle1 {

  font-size: 50px;
}

#detalle2{

  background-color: #1b003a;
  font-size: 25px;
  color: goldenrod;

}

#porden{
       
  background-color: goldenrod;
    color: #340856;
    box-shadow: 25px 20ox;
    font-size: 35px;
    border-radius: 60px;

}

.tablecarrito{

  background-color:#53066a;
  margin:auto;
  border-radius: 15px solid goldenrod;
  border-collapse: separate;
  font-size: 25px;
  
}

.table th td {

  border: px solid goldenrod;
}

div .card {

  
  font-size: 25px;
  padding-bottom: 25px;
  margin:auto;  
  background: #53066a;

 
}

a{
  color: goldenrod;
}

